@if (isMobile | async) {
  <swiper-container space-between="25" pagination-dynamic-bullets="true" slides-per-view="auto" centered-slides="true">
    <ng-container *ngTemplateOutlet="slide"></ng-container>
  </swiper-container>
} @else {
  <swiper-container space-between="25" pagination-dynamic-bullets="true" slides-per-view="auto">
    <ng-container *ngTemplateOutlet="slide"></ng-container>
  </swiper-container>
}

<ng-template #slide>
  @for (datum of data(); track datum) {
    <swiper-slide>
      <osm-player-card [seasonName]="seasonName()" [playerStatistic]="datum"></osm-player-card>
    </swiper-slide>
  }
</ng-template>
