<nz-modal
  [nzTitle]="modalTitleTxt()"
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [nzBodyStyle]="{ maxHeight: '60vh', overflow: 'auto' }"
  (nzOnCancel)="onCancel()"
  (nzAfterClose)="onAfterClose()"
  [(nzVisible)]="isVisible"
>
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>

  <div *nzModalFooter class="g-spaced">
    @if (isEditForm()) {
      <button
        nz-button
        nzDanger
        nzType="primary"
        [nzLoading]="isDeleting()"
        [disabled]="isFormProcessing()"
        (click)="onDelete()"
      >
        Delete
      </button>
    }
    <span class="g-spacer"></span>
    <button nz-button nzType="default" (click)="onCancel()" [disabled]="isFormProcessing()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isSubmitting()"
      [disabled]="!isValid() || isFormProcessing()"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</nz-modal>
