<nz-modal
  [nzTitle]="modalTitleTxt()"
  (nzOnCancel)="onCancel()"
  (nzAfterClose)="onAfterClose()"
  [(nzVisible)]="isVisible"
>
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>

  <div *nzModalFooter class="spaced">
    <button nz-button nzDanger nzType="primary" *ngIf="isEditForm()" [nzLoading]="isDeleting()" (click)="onDelete()">
      Delete
    </button>
    <span class="space"></span>
    <button nz-button nzType="default" (click)="onCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isSubmitting()" [disabled]="!isValid()" (click)="onSubmit()">
      Submit
    </button>
  </div>
</nz-modal>
