.stats-container {
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  section h2 {
    margin-bottom: var(--space-md);

    & + p {
      margin-bottom: var(--space-md);
    }
  }
}

.full-list-nav {
  display: block;
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
}

a {
  padding: 0;
  border: none;
}
