main > * {
  width: 100%;
}

#stats-container {
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  section h2 {
    margin-bottom: var(--space-md);
  }
}

ol, ul {
  padding: 0;
  border: var(--border);
  border-radius: var(--border-radius);

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: var(--space-sm) var(--space-sm);
  }

  li:first-child {
    font-size: 1.2em;
    padding: var(--space-md) var(--space-sm);
    background-color: var(--color-secondary);
  }
}
