<main class="g-m-container">
  <osm-season-selector
    [seasonId]="page.selectedSeason()?.id"
    [competitionId]="page.selectedCompetition()?.id"
    [showCompetition]="true"
    (selected)="onSeasonSelected($event)"
  ></osm-season-selector>

  <div class="stats-container">
    <section>
      <h2>Performance</h2>

      <osm-stats-table [data]="seasonStats()"></osm-stats-table>
    </section>

    <section>
      <h2>Goals</h2>

      <osm-stats-table [data]="page.topScorersStats()" [ordered]="true"></osm-stats-table>
      <a nz-button nzType="link" class="full-list-nav" [routerLink]="['./' , 'goals']">
        See Full List
        <nz-icon nzType="arrow-right"></nz-icon>
      </a>
    </section>

    <section>
      <h2>Assists</h2>
      <osm-stats-table [data]="page.topAssistantsStats()" [ordered]="true"></osm-stats-table>
      <a nz-button nzType="link" class="full-list-nav" [routerLink]="['./' , 'assists']">
        See Full List
        <nz-icon nzType="arrow-right"></nz-icon>
      </a>
    </section>

    <section>
      <h2>Contributions</h2>
      <osm-stats-table [data]="page.topContributionsStats()" [ordered]="true"></osm-stats-table>
      <a nz-button nzType="link" class="full-list-nav" [routerLink]="['./' , 'contributions']">
        See Full List
        <nz-icon nzType="arrow-right"></nz-icon>
      </a>
    </section>
  </div>
</main>
