<nz-modal
  [nzTitle]="modalTxt()"
  (nzOnCancel)="onCancel()"
  (nzAfterOpen)="onModalOpen()"
  (nzAfterClose)="onModalClose()"
  [(nzVisible)]="isVisible"
>
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>

  <div *nzModalFooter class="spaced">
    <button nz-button nzDanger nzType="primary" *ngIf="isEditing()" [nzLoading]="isDeleting()" (click)="onDelete()">
      Delete
    </button>
    <span class="space"></span>
    <button nz-button nzType="default" (click)="onCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isSaving()" [disabled]="isSubmitDisabled()" (click)="onSubmit()">
      Submit
    </button>
  </div>
</nz-modal>
