:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

header > osm-navigation-top {
  width: 100%;
  height: var(--banner-height-desktop);
}

main {
  flex-grow: 1;
}

main.admin {
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-public {
  height: var(--nav-height-desktop);
}

.nav-admin {
  height: 72px;
}

img {
  width: 100px;
  margin-top: -28px;
}

@media (max-width: 768px) {
  nav.nav {
    display: none;
  }
}

footer {
  text-align: center;
  height: var(--footer-height-desktop);
}
