<div class="g-flex">
  <nz-select [ngModel]="selectedSeasonId" (ngModelChange)="onSeasonSelected($event)">
    @for (season of seasonOptions(); track season.value) {
      <nz-option [nzValue]="season.value" [nzLabel]="season.label"></nz-option>
    }
  </nz-select>

  @if (showCompetition()) {
    <nz-select [ngModel]="selectedCompetitionId" (ngModelChange)="onCompetitionSelected($event)">
      @for (competition of competitionOptions(); track competition.value) {
        <nz-option [nzValue]="competition.value" [nzLabel]="competition.label"></nz-option>
      }
    </nz-select>
  }
</div>
