:host > div {
  flex-direction: column;
  gap: var(--space-xs);

  @media (min-width: 786px) {
    flex-direction: row;
    justify-content: center;
    gap: var(--space-md);

    nz-select {
      width: 300px;
    }
  }
}
