<header>
  <button nz-button nzType="link" nzSize="large" (click)="onMenuBtnClick()">
    <nz-icon nzType="menu" nzTheme="outline" />
  </button>
  <span class="g-spacer"></span>
  <a routerLink="/">
    <img src="assets/osm-transparent.png" alt="app-logo" />
  </a>
</header>

<div #main id="main-container">
  <!--[ngClass]="viewState()"-->
  <main>
    <router-outlet />
  </main>

  <footer>&copy; 2025 Max Cobbett. All rights reserved.</footer>
</div>
<ng-template #drawerTmpl>
  <app-navigation-main></app-navigation-main>
</ng-template>
