nz-input-number {
  width: 120px;
}

.goals-control {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.goals-control > span {
  cursor: pointer;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.goals-control > span:hover {
  color: #777;
}

.goals-minus {
  width: 90%;
}

