.osm-container {
  width: 100%;
  padding: var(--space-lg);
}

.g-m-container {
  padding: var(--space-md);
}

.g-spaced {
  display: flex;
}

.g-spaced.center {
  align-items: center;
}

.g-spacer {
  flex-grow: 1;
}

.g-caption {
  font-size: var(--font-size-sm);
  color: var(--font-secondary);
}

.g-uppercase {
  text-transform: uppercase;
}
