.osm-container {
  width: 100%;
  padding: var(--space-lg);
}

.spaced {
  display: flex;
}

.spaced.center {
  align-items: center;
}

.spaced .space {
  flex-grow: 1;
}

.g-spacer {
  flex-grow: 1;
}

.g-caption {
  font-size: var(--font-size-sm);
  color: var(--font-secondary);
}
