* {
  /* Color */
  --color-primary: #1d1e2c;
  --color-secondary: #ddb967;
  --color-secondary-rgba: 29, 30, 44;

  /* Font */  
  --font-accent: var(--color-secondary);
  --font-primary: #1d1e2c;
  --font-color-alt: white;
  --font-size-sm: 12px;
  --font-size: 16px;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 40px;

  /* Constants */
  --page-offset-vertical: 176px;
  --page-height: calc(100vh - var(--page-offset-vertical));
}
