* {
  /* Color */
  --color-primary: #1d1e2c;
  --color-secondary: #ddb967;
  --color-secondary-rgba: 29, 30, 44;

  /* Font */
  --font-primary: var(--color-primary);
  --font-secondary: var(--color-secondary);
  --font-color-alt: white;
  --font-size-sm: 12px;
  --font-size: 16px;
  --font-size-lg: 24px;
  --font-family: 'Raleway', sans-serif;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 40px;
  --space-xxl: 52px;

  /* Constants */
  --page-offset-vertical: 176px;
  --page-height: calc(100vh - var(--page-offset-vertical));
}
