:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  background-color: var(--color-primary);
  height: 100%;
  text-align: center;
}

.form-container {
  position: relative;
  padding: var(--space-lg);
  background-color: var(--color-secondary);
  box-shadow: 0 0 20px 5px rgba(218, 165, 32, 0.5);
  width: 400px;
}

img {
  width: 100px;
}
