<a routerLink="/">
  <img src="assets/osm-transparent.png" alt="app-logo" />
</a>

<div class="form-container">
  <form nz-form action="/login" autocomplete="on" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="mail">
          <input nz-input type="text" name="username" formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Password -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input type="password" name="password" formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Login Button -->
    <button nz-button nzType="primary" [nzLoading]="isSubmitting">Log In</button>

    <!-- Remember Me -->
    <!-- <div [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
    </div> -->

    <!-- Forgot Password -->
    <!-- <a>Forgot password</a> -->

    <p>Or</p>
    <p>
      <a nz-button nzType="link" [disabled]="isSubmitting">
        <span nz-icon nzType="google"></span>
        Log in with Google
      </a>
      <span class="g-spacer"></span>
    </p>
  </form>
</div>
