<div class="top">
  <button nz-button nzType="primary" (click)="onAddClick()">
    <span nz-icon nzType="user-add"></span>
    Add
  </button>
</div>

<ag-grid-angular
  class="ag-theme-quartz-auto-dark"
  style="height: 500px"
  [rowData]="players"
  [columnDefs]="colDefs"
/>

<nz-modal
  nzTitle="Edit Player"
  (nzOnCancel)="onCancel()"
  (nzAfterOpen)="onModalOpen()"
  (nzAfterClose)="onModalClose()"
  [(nzVisible)]="isModalVisible"
>
  <app-player-form *nzModalContent [data]="selectedPlayer"> </app-player-form>
  <div *nzModalFooter class="spaced">
    <button
      nz-button
      nzDanger
      nzType="primary"
      [nzLoading]="isDeleting"
      (click)="onDelete()"
    >
      Delete
    </button>
    <span class="space"></span>
    <button nz-button nzType="default" (click)="onCancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isSaving"
      [disabled]="isSubmitDisabled"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</nz-modal>
