<header id="app-banner">
  <div class="banner-top">
    <a routerLink="match-report">Match Report</a>
    <span>|</span>
    <a routerLink="login">Sign In</a>
    <span>|</span>
    <a routerLink="register">Register</a>
  </div>
  <nav class="banner-nav">
    <a routerLink="www.google.com">
      <img src="assets/osm-transparent.png" alt="app-logo" />
    </a>
    <app-navigation></app-navigation>
  </nav>
</header>

<div class="layout">
  <app-admin-nav> </app-admin-nav>
  <div class="osm-container">
    <router-outlet />
  </div>
<!-- </div>
<nz-layout>
  <nz-sider></nz-sider>
  <nz-layout>
  </nz-layout>
</nz-layout> -->
