<header>
  <app-navigation-top></app-navigation-top>
</header>

<main>
  @switch (viewState) {
    @case ('admin') {
      <app-admin-shell>
        <router-outlet />
      </app-admin-shell>
    }
    @case ('login') {
      <router-outlet />
    }
    @default {
      <nav class="nav nav-public">
        <a routerLink="/">
          <img src="assets/osm-transparent.png" alt="app-logo" />
        </a>
        <app-navigation-main></app-navigation-main>
      </nav>
      <router-outlet />
    }
  }
</main>
