<nz-card nzHoverable class="container">
  <section class="g-spaced">
    <div class="details">
      <p class="number">
        {{ playerStatistic().player.squadNumber }}
      </p>
      <p class="name">
        {{ playerStatistic().player.firstName }}
      </p>
      <p class="name">
        {{ playerStatistic().player.lastName }}
      </p>
      <p class="position">
        {{ playerStatistic().player.position }}
      </p>
    </div>
    <span class="g-spacer"></span>
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
  </section>
  <p class="season">Season 2024-25</p>

  @for (stat of playerStatistic().statistics; track stat) {
    <span class="data-display">
      <p class="g-spaced">
        {{ stat?.type }}
        <span class="g-spacer"></span>
        <span>{{ stat?.value }}</span>
      </p>
    </span>
  }
</nz-card>
