<nz-card nzHoverable class="container">
  <section class="spaced">
    <div class="details">
      <p class="number">
        {{ player()?.squadNumber }}
      </p>
      <p class="name">
        {{ player()?.firstName }}
      </p>
      <p class="name">
        {{ player()?.lastName }}
      </p>
      <p class="position">
        {{ player()?.position }}
      </p>
    </div>
    <span class="space"></span>
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
  </section>
  <p class="season">Season 2024-25</p>

  @for (stat of bestStats(); track stat) {
    <span class="data-display">
      <p class="spaced">
        {{ stat?.label }}
        <span class="space"></span>
        <span>{{ stat?.value }}</span>
      </p>
    </span>
  }
</nz-card>
