<div class="osm-container">
  <!-- Goalkeeper Cards -->
  <div class="swiper-container">
    <nz-divider nzText="Goalkeepers"></nz-divider>
    <app-swiper [data]="goalkeepers"></app-swiper>
  </div>

  <!-- Defender Cards -->
  <div class="swiper-container">
    <nz-divider nzText="Defenders"></nz-divider>
    <app-swiper [data]="defenders"></app-swiper>
  </div>

  <!-- Midfielder Cards -->
  <div class="swiper-container">
    <nz-divider nzText="Midfielders"></nz-divider>
    <app-swiper [data]="midfielders"></app-swiper>
  </div>

  <!-- Forward Cards -->
  <div class="swiper-container">
    <nz-divider nzText="Forwards"></nz-divider>
    <app-swiper [data]="forwards"></app-swiper>
  </div>

  <!-- Legend Cards -->
  <div class="swiper-container">
    <nz-divider nzText="Legends"></nz-divider>
    <app-swiper [data]="legends"></app-swiper>
  </div>
</div>
