.carousel {
    display: flex;
    gap: var(--space-md);
    cursor: grab;
}

.carousel > app-player-card {
    width: 400px;
}

.swiper-container {
  padding: 0 80px;
}

@media (max-width: 768px) {
  .swiper-container {
    padding: 0;
  }
}
