<div class="osm-container">
  <!-- Goalkeeper Cards -->
  <nz-divider nzText="Goalkeepers"></nz-divider>
  <app-swiper [data]="goalkeepers"></app-swiper>

  <!-- Defender Cards -->
  <nz-divider nzText="Defenders"></nz-divider>
  <app-swiper [data]="defenders"></app-swiper>

  <!-- Midfielder Cards -->
  <nz-divider nzText="Midfielders"></nz-divider>
  <app-swiper [data]="midfielders"></app-swiper>

  <!-- Forward Cards -->
  <nz-divider nzText="Forwards"></nz-divider>
  <app-swiper [data]="forwards"></app-swiper>
</div>
