div {
  position: relative;
  height: 100vh;
}

form {
  position: relative;
  top: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
