<form nz-form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <!-- First name -->
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="firstName">First name</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="First name is required">
      <input id="firstName" formControlName="firstName" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <!-- Last name -->
    <nz-form-label [nzSpan]="5" nzFor="lastName">Last name</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="Last name is required">
      <input id="lastName" formControlName="lastName" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <!-- Position -->
    <nz-form-label [nzSpan]="5" nzFor="position">Position</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="Position is required">
      <nz-input-group nzPrefixIcon="user">
        <input id="position" formControlName="position" type="text" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <!-- Squad Number -->
    <nz-form-label [nzSpan]="5" nzFor="squadNumber">Squad Number</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="Squad number is required">
      <input id="squadNumber" formControlName="squadNumber" type="number" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <!-- Squad Number -->
    <nz-form-control
      [nzSpan]="19"
      [nzOffset]="5"
      nzErrorTip="Squad number is required"
    >
      <button
        nz-button
        nzType="primary"
        type="submit"
        [disabled]="playerForm.invalid"
      >
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
