#mobile-container {
  display: flex;
  flex-direction: column;
}

.mobile-section {
  width: 100%;
  height: 360px;
}

#upcoming-fixture {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-lg);
  padding-top: var(--space-xl);
}

#match-details {
  display: flex;
  flex-direction: column;
  /*gap: var(--space-sm);*/
  text-transform: uppercase;
  font-weight: 500;
}

#banner {
  display: flex;
}

img {
  width: 100%;
  /*height: 100%;*/
  object-fit: cover;
  object-position: top;
}

.team {
  font-size: var(--font-size-lg);
}

.home {
  color: var(--font-secondary);
}

.details {
  color: var(--font-primary);
  font-size: var(--font-size-sm);
}

.date {
  color: var(--font-tertiary);
}
