@if (ordered()) {
  <ol class="list">
    @for (rankValue of dataRankValues(); track rankValue; let idx = $index) {
      <li class="rank">
        <div class="g-flex">
          <span class="rank-item">
            {{ idx + 1 }}
          </span>

          <ul>
            @for (stat of dataMap().get(rankValue); track stat) {
              <li class="rank-item">
                <span>
                  {{ stat }}
                </span>
                {{ rankValue | dash }}
              </li>
            }
          </ul>
        </div>
      </li>
    }
  </ol>
} @else {
  <ul class="list">
    @for (datum of data(); track $index; let idx = $index) {
      <li>
        <span>
          {{ datum.stat }}
        </span>
        <span class="gold">
          {{ datum.value | dash }}
        </span>
      </li>
    }
  </ul>
}
