ol,
ul {
  padding: 0;
}

div,
ul,
li {
  width: 100%;
  font-weight: 500;
}

ul > li {
  padding: var(--space-sm) var(--space-sm);
}

li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  .rank-item {
    padding: var(--space-sm) var(--space-sm);
  }
}

.list {
  border: var(--border);
  border-radius: var(--border-radius);
}

.rank:first-child {
  background-color: var(--color-secondary);
}
