:host {
  display: block;
}

.container {
  align-items: center;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.desktop {
  height: 100%;
  display: flex;
  gap: var(--space-sm);
  padding: 0 var(--space-lg);
}
