:host {
  --banner-size-mobile: 88px;
  --banner-size-desktop: 44px;
}

.banner-top {
  width: 100%;
  height: var(--banner-size-desktop);
  background-color: var(--color-primary);
  color: white;
}

.banner-top a {
  color: white;
}

.container {
  align-items: center;
  height: 100%;
}

.desktop {
  display: flex;
  gap: var(--space-sm);
  padding: 0 var(--space-lg);
}

.mobile {
  display: none;
}

.mobile button {
  height: var(--banner-size-mobile);
  font-size: var(--font-size-lg);
}

@media (max-width: 768px) {
  .banner-top {
    height: var(--banner-size-mobile);
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    padding-right: var(--space-md);
  }

  img {
    width: 50px;
  }
}
