<div class="container desktop">
  @if (session.firebaseUser) {
    <span> Logged in as: {{ session.firebaseUser.email }} </span>
  }
  <span class="g-spacer"></span>

      @if (hasAdminAccess) {
        <a nz-button nzType="link" class="g-link-secondary" routerLink="/admin/players">Admin</a>|
      }

      @if (session.isActive) {
        <a nz-button nzType="link" class="g-link-secondary" (click)="onLogout()">Log Out</a>
      } @else {
        <a nz-button nzType="link" class="g-link-secondary" routerLink="/login">Log In</a>
      }
</div>
