/* You can add global styles to this file, and also import other style files */

@import "./theme/osm-variables.css";

/* Core Data Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";

* {
  /* Reset */
  box-sizing: border-box;
}

html, body, p {
  font-size: var(--font-size);
  font-family: var(--font-family), serif ;
}

/* html {
  --ant-font-size-base: var(--font-size);
  --ant-font-family: var(--font-family);
} */

body {
  margin: 0;

  /* Font */
  /* color: var(--font-primary); */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */

   background-color: var(--color-primary);
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-secondary);
}
