/* You can add global styles to this file, and also import other style files */

@import './theme/osm-variables.css';

* {
    /* Reset */
    box-sizing: border-box;
}

body {
    margin: 0;

    /* Font */
    color: var(--font-color);
    font-size: var(--font-size);
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: 'Noto Sans', sans-serif;

    background-color: var(--color-primary);

}

html,
body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-alt);
}