main {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  height: var(--page-height-desktop);

  .season-selection {
    display: flex;
    justify-content: center;
  }

  .summary {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      gap: var(--space-lg);
    }
  }

  .grid {
    flex-grow: 1;

    ag-grid-angular {
      height: 100%;
    }
  }
}
