<main class="osm-container">
  <h1>{{ page.selectedSeason()?.name }}</h1>

  <!--  <nz-spin nzSize="large" [nzSpinning]="isLoading()"> </nz-spin>-->
  <osm-season-selector
    [ngStyle]="{ 'width': '200px' }"
    [showCompetition]="true"
    (selected)="onSeasonSelected($event)"
  ></osm-season-selector>

  <section class="summary">
    <ul>
      <li><nz-statistic nzTitle="Played" [nzValue]="page.seasonStats()?.gamesPlayed | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Won" [nzValue]="page.seasonStats()?.gamesWon | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Lost" [nzValue]="page.seasonStats()?.gamesLost | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Drawn" [nzValue]="page.seasonStats()?.gamesDrawn | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Points" [nzValue]="page.seasonPoints() | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Position" [nzValue]="'5th'"></nz-statistic></li>

      <li>
        <nz-statistic
          nzTitle="Win %"
          nzSuffix="%"
          [nzValue]="((((page.seasonStats()?.winPercentage || 0) * 100) | number:'1.0-0') ?? undefined) | dash"
        ></nz-statistic>
      </li>
      <li><nz-statistic nzTitle="Scored" [nzValue]="page.seasonStats()?.goalsScored | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Conceded" [nzValue]="page.seasonStats()?.goalsConceded | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Difference" [nzValue]="page.seasonStats()?.goalDifference | dash"></nz-statistic></li>
      <li><nz-statistic nzTitle="Clean Sheets" [nzValue]="page.seasonStats()?.cleanSheets | dash"></nz-statistic></li>
    </ul>
  </section>

  <section class="grid">
    <ag-grid-angular
      class="ag-theme-quartz"
      [autoSizeStrategy]="autoSizeStrategy"
      [rowData]="playerData()"
      [columnDefs]="colDefs"
      (gridReady)="onGridReady($event)"
    />
  </section>
</main>
